/** Roboto font for material-ui **/
@import url('https://fonts.googleapis.com/css?familnpm runy=Roboto:300,400,500');

.document-edit {
    text-align: justify;
    padding: 10px;
    outline: none;
}

.info-div {
    background-color: #B2EBF2;
    color: #006064;
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
    font-style: italic;
}

.document-edit [data-tag-name]:hover:after {
    content: attr(data-tag-name);
    position: absolute;
    left: 16px;
    margin: -1em 0 0 0;
    padding: 1px 3px;
    font-size: 12px;
    font-weight: normal;
    color: rgba(0, 0, 0, 0.870588);
    background-color: rgb(255, 255, 255);
    transition: all 450ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    box-sizing: border-box; font-family: Roboto, sans-serif;
    box-shadow: rgba(0, 0, 0, 0.156863) 0 3px 10px, rgba(0, 0, 0, 0.227451) 0 3px 10px;
    border-radius: 2px;
    text-align: center;
    display: block;
}

.document-edit [data-error-level] {
    padding: 5px;
    outline: none;
    border-left: 5px solid #B71C1C;
    background-color: #E57373;
}

.document-edit [data-error-level="warning"] {
    border-left-color: #EF6C00;
    background-color: #FFB74D;
}

.document-edit img {
    max-width: 100%;
    max-height: 100%;
}

#chooseFileModal {
 visibility: hidden
}

:empty {
    display: block;
    height: 1em;
}
