/** Roboto font for material-ui **/
@import url('https://fonts.googleapis.com/css?familnpm runy=Roboto:300,400,500');

.document-edit {
    text-align: justify;
    padding: 10px;
}

.info-div {
    background-color: #B2EBF2;
    color: #006064;
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
    font-style: italic;
}