/** Roboto font for material-ui **/
@import url('https://fonts.googleapis.com/css?familnpm runy=Roboto:300,400,500');

.document-edit {
    text-align: justify;
    padding: 10px;
    outline: none;
}

.info-div {
    background-color: #B2EBF2;
    color: #006064;
    padding: 15px;
    border-radius: 5px;
    margin: 5px;
    font-style: italic;
}

.document-edit [data-error-level] {
    padding: 5px;
    outline: none;
    border-left: 5px solid #B71C1C;
    background-color: #E57373;
}

.document-edit [data-error-level="warning"] {
    border-left-color: #b78633;
    background-color: #e5d3a6;
}
